<body>
  <h1>Books</h1>

  <table>
    
    <thead>
      <tr>
        <th>Title</th>
        <th>body</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %><td>
        <td><%= book.body %><td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    
  </table>

  <h2>New book</h2>
  <%= form_with model: @books do |f| %>
  <!--"アプリケーションを完成させよう2章の最後の書き方が良いかも？"-->
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
  <% end %>
  </form>
</body>
