<p class="flash">
  <%= flash[:notice]%>
</p>

<% if @book.errors.any? %>
  <%= @lbook.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>Title:  <%= @book.title %></p>

<p>Body:  <%= @book.body %></p>

<a class="edit"><%= link_to "Edit", edit_book_path(@book.id) %></a>
|
<a class="back" href="/books">Back</a>
